<div class="row">
    <div class="col-6">
        Username
    </div>
    <div class="col-6">
        <input type="text" [(ngModel)]="userInfo.userName">
    </div>
</div>
<div class="row">
    <div class="col-6">
        Password
    </div>
    <div class="col-6">
        <input type="password" [(ngModel)]="userInfo.userPassword">
    </div>
</div>
<div class="row">
    <div class="col-6">
        <select (change)="OnDemoChangeClick($event)" [(ngModel)]="userInfo.userLevel">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    <div class="col-6">
        <button (click)="OnDemoClick()" >Demo</button>
       
    </div>
</div>
<div class="row">
    <div class="col-6">
        
    </div>
    <div class="col-6">
        <button (click)="SaveForm()" >Save</button>        
    </div>
</div>