<div>
  <h1 style="color:darkslateblue; text-align: center;">Pomodoro Time-Tracker</h1>
  <form (ngSubmit)="saveDevEntry()" style="text-align: center;">
    <div class="row">
      <div class="col-4">
        <label for="devname" style="display:grid;  text-align: left;">Developer Name:</label>
        <select id="devname" [(ngModel)]="record.devname" name="devname" class="form-control">
          <option value="santhosh">Santhosh</option>
          <option value="praveen">Praveen</option>
          <option value="akila">Akila</option>
          <option value="rahul">Rahul</option>
        </select>
      </div>

      <div class="col-4">
        <label for="date" style="display: block; text-align: left;">Date:</label>
        <input type="date" id="date" [(ngModel)]="record.date" name="date" class="form-control">
      </div>

      <div class="col-4">
        <label for="comment" style="display: block; text-align: left;">Comment:</label>
        <textarea id="comment" [(ngModel)]="record.comment" name="comment" class="form-control" style="align-content:center"></textarea>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-4">
        <button type="button" class="btn btn-primary" [disabled]="timerStarted" (click)="startTimer()">Start</button>
      </div>

      <div class="col-4">
        <button type="button" class="btn btn-danger" [disabled]="!timerStarted" (click)="stopTimer()">Stop</button>
      </div>

      <div class="col-4 form-group-running-time" *ngIf="timerStarted">
        <label for="runningTime" style="display: block; text-align: left;">Running Time:</label>
        <input type="text" class="form-control input-running-time" id="runningTime" [(ngModel)]="currentTime" name="runningTime" [disabled]="true">
      </div>
    </div>
  </form>
</div>


<div *ngIf="userentry">
  <h2 align="left" style="color:brown">Existing Entries</h2>
  <table>
    <thead>
      <tr>
        <th style="color:darkslateblue">Developer Name</th>
        <th style="color:darkslateblue">Date</th>
        <th style="color:darkslateblue">Starting Time</th>
        <th style="color:darkslateblue">Ending Time</th>
        <th style="color:darkslateblue">Comment</th>
        <th style="color:darkslateblue">TotalTime</th>
        <th style="color:darkslateblue">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of userentry">
        <td>{{ entry.devname }}</td>
        <td>{{ entry.date | date }}</td>
        <td>{{ entry.startingtime }}</td>
        <td>{{ entry.endingtime }}</td>
        <td>{{ entry.comment }}</td>
        <td>{{ entry.totaltime }}</td>
        <td>
          <button (click)="deleteEntry(entry.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


